.root{
    -fx-background-color: bisque  ;
}

.adir {

    -fx-background-image: url("resources/Images/Ben.jpeg");
    -fx-background-size: stretch ;
    -fx-background-position: center center;
}

.ben {
    -fx-background-image: url("resources/Images/Adir.jpeg");
    -fx-background-size: stretch ;
    -fx-background-position: center center;
}






